
<form action="/auth/login" method="POST" id="form-container">
<div class="card">
  <div class="card-body">
  <h2>Login</h2>
    <div class="form-group">
      <label for="username">Username</label>
      <input id="username" type="text" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Enter password">
    </div>
    {{#if message }}
      <div class="error-message">{{ message }}</div>
    {{/if}}
    <div class="form-group">
    <button class="btn btn-primary">Login</button>
    </div>
  </div>
</div>
</form>

<div class="container demo">
  <p style="margin-top: 20px"><i>Logins are of two types: Administrator/Manager and Employee. To demo the functionality of each, refer to the provided logins below:</i></p> 
  <p><strong>Admin:</strong><span>Username:</span>jamie<span>Password:</span> 1234</p>
  <p><strong>Employee</strong><span>Username:</span>john<span>Password:</span> 1234</p>
</div>