<h2>Login</h2>
<form action="/auth/login" method="POST" id="form-container">
  <div class="form-group">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Enter password">
  </div>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <div class="form-group">
  <button class="btn btn-primary">Login</button>
  </div>
</form>
